
body{
	font-family: Poppins;
	overflow-x: hidden;
}
.header{
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	height: 82px;
	background:linear-gradient(180deg, #2769B1 0%, #09498F 100%);
	z-index: 100;
	width: 100%;

}
.row.head{
	align-items: center;
}
.r-block{
	display: flex;
    justify-content: end;
}
header ul li{
	margin-left: 41px;
}
header ul{
	margin: 0;
	padding: 0;
	display: flex;
	list-style: none;
}
header a{
	color: white;
	font-size: 15px;
	text-decoration: none;
}
li a:hover{
	color: white;
	font-weight: bold;
	border-bottom: 1px solid white;
	padding-bottom: 10px;
	transition: 0.4s;
}
.lang-1{
	margin-right: 5px;
	color: gray;
	font-size: 15px;
}
.lang-2{
	color: white;
	font-size: 15px;
}

.hero{
	background:linear-gradient(180deg, #2769B1 0%, #09498F 100%);
	color: white;
	overflow-x: hidden;
}
.hero .container{
	min-height: 100vh;
	padding-top: 102px;
}
.hero__title{
font-size: 64px;
line-height: 1;
color: #FFFFFF;

}
.hero__title span{
font-size: 42px;
}
.hero__title strong{
	margin-left: 20px;
}
.hero__subtitle{
font-size: 20px;
line-height: 1.2;
padding-right: 160px;
}
.hero__plane-holder{
	position: relative;

}
.hero__plane-holder img{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	margin-top: 80px;
}
.hero__plane-holder img.cloud{
	mix-blend-mode: screen;
}
.row.planes{
	z-index: 10;
}
.blck{
    border-top: 1px solid white;
    width:86%;
}
.blck:hover{
	transition: .3s;
	background: linear-gradient(180deg, #2769B1 0%, #09498F 100%);;
	opacity: 1;
	z-index: 999;
}
.block-1{
display: flex;
flex-direction: column;
align-items: center;
}