
body{
	font-family: Poppins;
	overflow-x: hidden;
}
.header{
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	height: 84px;
	background: linear-gradient(180deg, #2163ab 80%, #2163ab 41%);
	z-index: 100;
	width: 100%;

}
.row.head{
	align-items: center;
}
.r-block{
	display: flex;
    justify-content: end;
}
header ul li{
	margin-left: 41px;
}
header ul{
	margin: 0;
	padding: 0;
	display: flex;
	list-style: none;
}
header a{
	color: white;
	font-size: 15px;
	text-decoration: none;
}
header li a:hover{
	color: white;
	-webkit-text-stroke-width: medium;
	border-bottom: 1px solid white;
	padding-bottom: 10px;
	transition: 0.4s;
}
.lang-1{
	margin-right: 5px;
	color: gray;
	font-size: 15px;
}
.lang-2{
	color: white;
	font-size: 15px;
}

.hero{
	background:linear-gradient(180deg, #2769B1 0%, #09498F 100%);
	color: white;
	overflow-x: hidden;
}
.hero .container{
	min-height: 100vh;
	padding-top: 102px;
}
.hero__title{
font-size: 64px;
line-height: 1;
color: #FFFFFF;

}
.hero__title span{
font-size: 42px;
}
.hero__title strong{
	margin-left: 20px;
}
.hero__subtitle{
font-size: 20px;
line-height: 1.2;
padding-right: 160px;
}
.hero__plane-holder{
	position: relative;

}
.hero__plane-holder img{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	margin-top: 80px;
}
.hero__plane-holder img.cloud{
	mix-blend-mode: screen;
}
.row.planes{
	z-index: 10;
}
.blck{
    border-top: 1px solid white;
    width:86%;
}
.blck:hover{
	transition: .3s;
	background: linear-gradient(180deg, #2769B1 0%, #09498F 100%);;
	opacity: 1;
	z-index: 999;
}
.block-1{
display: flex;
flex-direction: column;
align-items: center;
}

.layout-2{
	padding: 90px 0;
}
.whom__title{
font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 64px;
color: #09498F;
}
.main_blck{
padding-bottom: 40px;
}

.main_blck .descrp{
font-size: 16px;
color: black;
padding: 20px 0;
}

.main_blck .poster{
	background: red;
	height: 197px;
	z-index: 2;
	background-size: cover;
}


.layout-3{
	background: linear-gradient(to right, #09488F 100%, rgba(63, 63, 62, 0) 100%);
	width: 100%;
}
.block-first{
	margin: 50px 0;
	margin-bottom: 0;
}
.block-first h1{
	font-family: roboto;
	font-style: normal;
	font-weight: 200;
	font-size: 32px;
	color: #FFFFFF;
	padding-left: 56px;
}
.block-first span{
	font-family: poppins;
	font-style: normal;
	font-weight: 200;
	font-size: 37px;
	color: #FFFFFF;
}
.block-first .btn{
	padding-left: 56px;
}
.btn{
	border: none;
	background: none;
	color: white;
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 21px;
}


.layout-4{
	padding: 70px 0;
}
.main-title h1{
font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 64px;
color: #09498F;
}
.main-title h1 span{
	font-weight: 800;
}
.upgrade{
	padding: 20px 0;
}
.menu-1{
	padding: 34px 0;
	padding-top: 0;
}
.menu-1 ul{
	display: flex;
	list-style: none;
	padding: 0;
	margin: 0;
}
.menu-1 ul li{
	margin: 0;
	margin-right: 70px;
}
.menu-1 li a{
	text-decoration: none;
	color: #0C4C93;
}
li.choose.active a{
	background: linear-gradient(
	180deg, #2769B1 0%, #09498F 100%);
	border-radius: 8px;
	color: white;
	padding: 5px 19px;
}
.menu-2 li{
	list-style: none;
	padding: 16px 0;
	color: black;/*колір тексту*/
	font-family: Poppins;
	font-size: 18px;
	line-height: 27px;
	position: relative;
}
.menu-2 li a.cicle{
	 height: 10px;
    width: 10px;
    background: #0C4C93;
    position: absolute;
    border-radius: 50%;
    left: -16px;
    bottom: 50px;
}
.menu-2 li a.cicle-1{
	 height: 10px;
    width: 10px;
    background: #0C4C93;
    position: absolute;
    border-radius: 50%;
    left: -16px;
    bottom: 23px;
}
.btn_services button {
	background: linear-gradient( 
		180deg, #2769B1 0%, #09498F 100%);
	border-radius: 8px;
	color: white;
	letter-spacing: 1px;
	padding: 8px 28px;
	border: none;
	font-size: 18px;
	font-weight: 600;
}

.layout-5{
	padding: 70px 0;
}
.partners__title h1{
font-family: Poppins;;
font-weight: bold;
font-size: 32px;
line-height: 64px;
color: #09498F;
}

 .layout-6 img{
	height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.layout-7{
	height: 250px;
	background: #09498F;
}
.footer{
	padding-top: 65px;
	align-items: center;
}
.menu-3 ul{
list-style: none;
line-height: 2;
}
.menu-3 li a{
text-decoration: none;
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 16px;
color: #FFFFFF;
}

.menu-4 ul{
list-style: none;
line-height: 2;
}
.menu-4 li{
text-decoration: none;
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 16px;
color: #FFFFFF;
}


