
body{
	font-family: Poppins;
	overflow-x: hidden;
}
.header{
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	height: 84px;
	background: linear-gradient(180deg, #2163ab 80%, #2163ab 41%);
	z-index: 100;
	width: 100%;

}
.row.head{
	align-items: center;
}
.r-block{
	display: flex;
    justify-content: end;
}
header ul li{
	margin-left: 41px;
}
header ul{
	margin: 0;
	padding: 0;
	display: flex;
	list-style: none;
}
header a{
	color: white;
	font-size: 15px;
	text-decoration: none;
}
li a:hover{
	color: white;
	-webkit-text-stroke-width: medium;
	border-bottom: 1px solid white;
	padding-bottom: 10px;
	transition: 0.4s;
}
.lang-1{
	margin-right: 5px;
	color: gray;
	font-size: 15px;
}
.lang-2{
	color: white;
	font-size: 15px;
}

.hero{
	background:linear-gradient(180deg, #2769B1 0%, #09498F 100%);
	color: white;
	overflow-x: hidden;
}
.hero .container{
	min-height: 100vh;
	padding-top: 102px;
}
.hero__title{
font-size: 64px;
line-height: 1;
color: #FFFFFF;

}
.hero__title span{
font-size: 42px;
}
.hero__title strong{
	margin-left: 20px;
}
.hero__subtitle{
font-size: 20px;
line-height: 1.2;
padding-right: 160px;
}
.hero__plane-holder{
	position: relative;

}
.hero__plane-holder img{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	margin-top: 80px;
}
.hero__plane-holder img.cloud{
	mix-blend-mode: screen;
}
.row.planes{
	z-index: 10;
}
.blck{
    border-top: 1px solid white;
    width:86%;
}
.blck:hover{
	transition: .3s;
	background: linear-gradient(180deg, #2769B1 0%, #09498F 100%);;
	opacity: 1;
	z-index: 999;
}
.block-1{
display: flex;
flex-direction: column;
align-items: center;
}

.layout-2{
	padding: 90px 0;
}
.whom__title{
font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 64px;
color: #09498F;
}
.main_blck{
padding-bottom: 40px;
}

.main_blck .descrp{
font-size: 16px;
color: black;
padding: 20px 0;
}

.main_blck .poster{
	background: red;
	height: 197px;
	z-index: 2;
	background-size: cover;
}


.layout-3{
	background: linear-gradient(to right, #09488F 50%, #4499d9 50%,#4499d9 100%,rgba(63, 63, 62, 0) 100%);
	width: 100%;
}
.block-first{
	margin: 50px 0;
	margin-bottom: 0;
}
.block-first h1{
	font-family: roboto;
	font-style: normal;
	font-weight: 200;
	font-size: 32px;
	color: #FFFFFF;
	padding-left: 56px;
}
.block-first span{
	font-family: poppins;
	font-style: normal;
	font-weight: 200;
	font-size: 37px;
	color: #FFFFFF;
}
.block-first .btn{
	padding-left: 56px;
}
.btn{
	border: none;
	background: none;
	color: white;
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 21px;
}